@import 'compass';
@import 'compass/reset';

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

$white: #fdfdfd;

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.color {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
}
.info {
  background: rgba(0,0,0,0.9);
  color: $white;
  font-size: 14px;
  line-height: 20px;
  padding: 24px;
  border-radius: 2px;
  cursor: default;
  //center vertically and horizontally
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}
.color-input {
  padding: 0;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  color: $white;
  font: inherit;
  &:focus {
    border-bottom-color: $white;
  }
  .hex & {
    width: 4.8em;
  }
}
.saturation-gradient {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 50%;
  right: 0;
  left: auto;
  width: 40px;
}
.fluid-color {
  z-index: 1;
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}
